<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='icon' href="./img/purepng.comweather-icon.png">
        <title>Help</title>
        <link rel='stylesheet' href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>Phone : {{phone}}</p>
        </div>

        {{>footer}}
    </body>
</html>